@using BurgerApp.ViewModels.Home;
@model HomeViewModel

<h1>Welcome to McDonald's</h1>
<h3>Orders that we made: @Model.NumberOfOrders</h3>

<h2>Our most popular burger so far is: @Model.MostPopularBurger</h2>

<p>Average price of an order is: @Model.AveragePrice</p>

<p>Our locations: @Model.Locations</p>
